@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital@0;1&family=Oswald:wght@200;300;400;500&display=swap');


@font-face{font-family:industry;src:url(https://use.typekit.net/af/44c438/00000000000000007735a64e/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff2"),url(https://use.typekit.net/af/44c438/00000000000000007735a64e/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff"),url(https://use.typekit.net/af/44c438/00000000000000007735a64e/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("opentype");font-weight:700;font-style:normal;font-stretch:normal;font-display:auto;}
@font-face{font-family:industry;src:url(https://use.typekit.net/af/94f9bd/00000000000000007735a64f/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("woff2"),url(https://use.typekit.net/af/94f9bd/00000000000000007735a64f/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("woff"),url(https://use.typekit.net/af/94f9bd/00000000000000007735a64f/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("opentype");font-weight:700;font-style:italic;font-stretch:normal;font-display:auto;}
@font-face{font-family:industry;src:url(https://use.typekit.net/af/44c438/00000000000000007735a64e/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff2"),url(https://use.typekit.net/af/44c438/00000000000000007735a64e/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff"),url(https://use.typekit.net/af/44c438/00000000000000007735a64e/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("opentype");font-weight:500;font-style:normal;font-stretch:normal;font-display:auto;}
@font-face{font-family:industry;src:url(https://use.typekit.net/af/94f9bd/00000000000000007735a64f/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("woff2"),url(https://use.typekit.net/af/94f9bd/00000000000000007735a64f/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("woff"),url(https://use.typekit.net/af/94f9bd/00000000000000007735a64f/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("opentype");font-weight:500;font-style:italic;font-stretch:normal;font-display:auto;}
@font-face{font-family:industry;src:url(https://use.typekit.net/af/08fe52/00000000000000007735a650/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/08fe52/00000000000000007735a650/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/08fe52/00000000000000007735a650/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("opentype");font-weight:400;font-style:normal;font-stretch:normal;font-display:auto;}
@font-face{font-family:industry;src:url(https://use.typekit.net/af/79952e/00000000000000007735a651/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("woff2"),url(https://use.typekit.net/af/79952e/00000000000000007735a651/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("woff"),url(https://use.typekit.net/af/79952e/00000000000000007735a651/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("opentype");font-weight:400;font-style:italic;font-stretch:normal;font-display:auto;}

body {
  font-family: fot-udmincho-pr6n, serif;
  font-style: normal;
  font-weight: 700;
  background-color: #f1dfd1 !important;
    background-image: linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%) !important;
    ;
}

.bgImage {
  position: fixed;
  opacity:0.02;
  background-image: url('../public/logo.png');
  background-size: cover;
  height:100%;
  width:100%;
  
}
.bg-white {
  background: #faf8f4
}

.rounded-md {
  border-radius: 1.375rem
}

.absolute.top-2.left-2 {
  height: 15px !important;
  width: 15px !important;
  content: '✔';
  position: absolute;
  border-radius: 50%;
  background-color:
    #00ff1f !important;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .3)
}


.wallet-adapter-button {

  background: #998152 !important;
  color: #ffffff !important;
}


.text-lg {
  color: #8b8b8b;
}

.underline {
  color: #8b8b8b !important;
}

.text-sm {
  color: #8b8b8b !important;
}

.font-semibold {
  color: #8b8b8b !important;
}

.font-normal {
  color: #8b8b8b !important;
}



.lineargradi {
  margin-top: 30px;
  width: 100%;
  height: 30px;
  line-height: 26px;
  background-color: #faf8f4;
  border-radius: 15px;
  text-align: center;
  color: #bd9a77;
  font-size: 22px;
  position: relative;
  font-weight: 700;
  font-family: Outfit, Tahoma, Geneva, Verdana, sans-serif;
  border: 2px solid rgba(201, 172, 142, .29);
}


.lineargradistaked {
  background-color: rgba(201, 172, 142, .8);
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  border-radius: 15px;
  text-align: center;
}

.progress {
  z-index: 2;
  color: #bd9a77 !important;
  text-align: center;

}

.wallet-adapter-dropdown-list {
  background: #d3ba88 !important;
}

li.wallet-adapter-dropdown-list-item:hover {
  background: #998152 !important;
}


::-webkit-scrollbar {
  width: 12px;
  height: 20px;
}

::-webkit-scrollbar-track {
  background: #ece8e3;
}

::-webkit-scrollbar-thumb {
  background-color: #c9ac8e;
  border-radius: 20px;
}
